<div class="container">
  <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome your Dashboard!</h1>
        <p>You may create, edit and delete posts from here</p>
        <h2>Create Quick Post</h2>
        <form action='/dashboard/:id/post/create' method='post'>
          <textarea class="form-control" rows="2" name="post[title]" placeholder="Post Title"></textarea><br>
          <textarea class="form-control" rows="5" name="post[post]" placeholder="Your Post Here"></textarea><br>
          <textarea class="form-control" rows="1" name="tags[name]" placeholder="Tags, separated by commas"></textarea><br>
          <button type="submit" class="btn btn-primary btn-lg">Submit Post</a>
        </form>
      </div>
    </div>

    <div class="container">

      <table class="table table-hover">
        <tr>
          <th>Posts</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        <% if !@posts.nil? %>
        <% @posts.each do |post|%>
        <tr>
          <td><a href="/post/<%=post.id %>"><%=post.title %></a><p><%= post.post %></p></td>
          <td><form action='/edit/<%=post.id %>' method='get'><input type="submit" class="btn btn-primary btn-sm" value='Edit'></form></td>
          <td><form action='/delete/<%=post.id %>' method='post'><input type="submit" class="btn btn-danger btn-sm" value='Delete'></form></td>
        </tr>
        <% end %>
        <% end %>
        <tr>
      </table>
      <!-- Example row of columns -->
      

      <hr>

      <footer>
        <p>&copy; Company 2014</p>
      </footer>
    </div> <!-- /container -->
</div>
