<div class="container">
  <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Post Title : <%=@post.title%></h1>
        <p>You may create, edit and delete posts from here</p>
        <h2>Edit Post</h2>
        <form action='/edit/<%= @post.id %>' method='post'>
          <textarea class="form-control" rows="2" name="post[title]" placeholder="Post Title"><%=@post.title%></textarea><br>
          <textarea class="form-control" rows="5" name="post[post]" placeholder="Your Post Here"><%=@post.post%></textarea><br>
          <!-- <textarea class="form-control" rows="1" name="tags[name]" placeholder="Tags, separated by commas"><%=@tags%></textarea><br> -->
          <button type="submit" class="btn btn-primary btn-lg">Edit Post</button>
        </form>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      

      <hr>

      <footer>
        <p>&copy; Company 2014</p>
      </footer>
    </div> <!-- /container -->
</div>
